body {
  background-color: #2d2d2d;
}

#wrapper {
  width: 40vw;
  height: 20vw;
  margin: calc(50vh - 10vw) auto auto auto;

  display: grid;
}

.link {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

img {
  width: 100%;
  margin: auto;
}
